@page
@model VitrividriosApp.Web.Pages.Clientes.DetailsModel

@{
    ViewData["Title"] = "Detalles del Cliente";
}

<h1 class="mb-4">Detalles del Cliente</h1>
<hr />

<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card shadow-lg border-0 rounded-lg mt-5">
            <div class="card-header bg-info text-white text-center py-3">
                <h3 class="fw-light my-2">Información Detallada del Cliente</h3>
            </div>
            <div class="card-body p-4">
                <dl class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Cliente.Nombre)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Cliente.Nombre)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Cliente.Direccion)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Cliente.Direccion)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Cliente.Celular)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Cliente.Celular)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Cliente.EsMayorista)
                    </dt>
                    <dd class="col-sm-8">
                        @* Mostrar un icono o texto más amigable para el booleano *@
                        @if (Model.Cliente.EsMayorista)
                        {
                            <span class="badge bg-primary fs-6"><i class="fa fa-check-circle me-1"></i> Sí, es mayorista</span>
                        }
                        else
                        {
                            <span class="badge bg-secondary fs-6"><i class="fa fa-times-circle me-1"></i> No, es público</span>
                        }
                    </dd>
                </dl>
            </div>
            <div class="card-footer bg-light border-top d-flex justify-content-between p-3">
                <a asp-page="./Edit" asp-route-id="@Model.Cliente.Id" class="btn btn-warning btn-lg">
                    <i class="fa fa-edit me-2"></i> Editar
                </a>
                <a asp-page="./Index" class="btn btn-secondary btn-lg">
                    <i class="fa fa-arrow-left me-2"></i> Volver a la Lista
                </a>
            </div>
        </div>
    </div>
</div>